// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main{
   
   #new-post{
   
   margin-left:391px;
   }

.center-container{
	
	margin-left:391px;
  -webkit-box-sizing: content-box;
}
.posts-list-container{
 

ul#p{
	list-style:none;
	background-color: #e5e5f3;
    width: 486px;
    -webkit-box-sizing: content-box;
}
a{
	text-decoration:none;
	color:#3824a5;
}

li
{
   margin-bottom: 45px;
  .post-list{

  margin-bottom:70px;

   }
.post-content{
font-size:29px;	
}
}
}
}


